# This file specifies the files to be included in the source distribution
# in addition to the default ones.

include MANIFEST.in
include LICENSE
include TODO
include README_WINDOWS.txt
include test_tinyarray.py
include benchmark.py
recursive-include src *.hh
